@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @* Client side validation scripts*@
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">
    <link href="~/css/login/css/style.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h1 class="heading-section"></h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Welcome to login</h2>
                                <p>Don't have an account?</p>
                                <a asp-action="register" asp-controller="account" class="btn btn-white btn-outline-white">Sign Up</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign In</h3>
                                </div>
                                <div class="w-100">
                                    <form method="post" asp-action="ExternalLogin" asp-controller="account"
                                          asp-route-retrunUrl="@Model.ReturnUrl">

                                        @if (Model.ExternalLogins.Any())
                                        {
                                            <p class="social-media d-flex justify-content-end">
                                                @foreach (var provider in Model.ExternalLogins)
                                                {

                                                    <button type="submit" class="social-icon d-flex align-items-center justify-content-center"
                                                            name="provider" value="@provider.Name"
                                                            title="Login using your @provider.DisplayName account">
                                                        <span class="fa fa-@provider.Name.ToLower()"></span>
                                                    </button>

                                                }
                                            </p>
                                        }
                                    </form>
                                </div>
                            </div>
                            <form method="post" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Email">Email</label>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Password">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label asp-for="RememberMe" class="checkbox-wrap checkbox-primary mb-0">
                                            Remember Me
                                            <input asp-for="RememberMe" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a asp-action="ForgotPassword">Forgot Password</a>
                                    </div>
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>





